.thumbnail1{
  border-radius:0px;
  width: 154px;
  padding: 0px !important;
}

.top{
  background-color: #ffffff;
  padding: 2px 1px 1px 2px;
  border: 1px solid #ddd;
  width: 154px;
}

.btn-group-xs>.btn, .btn-xs {
  padding: 1px 2px !important;
}

.action{
  position: absolute;
  top: 2px;
  right: -15px;
}
.title{
  position: relative;
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  width: 140px;
}

.title a{
  color: #3bace1;
  text-decoration: none;
}

.menu{
  float: left;

}


.star{
  position: absolute;
  right: -7px;
}

.btn-group.open .dropdown-toggle {
   box-shadow: inset 0 0 0 rgba(0,0,0,.125) !important;
}

.btn-group-sm>.btn, .btn-sm {
  padding: 4px 2px 0px 0px;
}

.trailer-play-title{
  top: 84%;
  width: 100%;
  left: 0;
  position: absolute;
  background-color: #000;
  padding-top: 2%;
  padding-bottom: 2%;
  color: #fff;
  z-index: 10;
  opacity: .7;
  text-align: center;
}

.movie-card-under-image{
  font-size: 12px;
  margin: 6px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
}

.detail{
  position: absolute;
  margin-left: -1px;
  bottom: 28px;
  width: 154px;
  height: 173px;
  border: 1px solid #ddd;

  background-color: #ffffff;
}
.thumbnail1  img{
  width: 172px;
  margin: auto;
}

.imgcontext{
  overflow: hidden;
  width: 154px;
  height: 173px;
}

.imgcontext img{
  width: 152px;
}




